html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;

    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    font-size: medium;

    text-align: center;
}

header {
    height: 50px;
    width: calc(100vw - 148px);
    margin: 16px 64px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 10px solid skyblue;
}

header * {
    font-size: 30px;
}

main {
    height: calc(100vh - 118px);
    width: calc(100vw - 128px);
    margin: 16px 64px;
}

#que-area-outer {
    height: calc(100vh - 102px - 154px - 16px);

    background-color: rgba(137, 207, 235, 0.5);
    text-align: left;
}

#que-area-outer h2 {
    margin: 0;
    padding: 10px;

    text-align: center;
    font-size: 40px;
}

#que-area {
    padding: 32px;
}

#que-area-innner {
    margin: 0;
    padding: 0;
}

.q-and-a {
    font-size: 38px;
}

#q {
    display: none;
}

#que {
    overflow: scroll;
    font-size: 28px;
}

#kaisetsu {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    font-size: 28px;
    font-weight: bold;

    display: none;
}

#TorF {
    font-size: 28px;
    color: red;
    font-weight: bold;
    border-bottom: 5px solid;
}

#ans {
    font-size: 28px;
}

#com {
    font-size: 28px;
}

#button-area {
    margin: 16px 0 0 0;

    flex: 0 0 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
}

#button-area button {
    height: 64px;
    width: 40%;
    margin: 0;
    padding: 0;

    flex-grow: 1;
    flex: 1 0 auto;

    font-size: 24px;
    overflow: hidden;
    border-radius: 8px;
}

.active-button {
    color: black;
    background-color:lightgreen;
    border: none;
    border-bottom: 5px solid mediumseagreen;
}

.gray-button {
    background-color: gray;
    border: none;
    border-bottom: 5px solid dimgray;
}

#start {
    height: 30vh;
    width: 60vw;
    margin: 0;
    padding: 0;
    
    position: fixed;
    left: 20vw;
    top: 30vh;

}

#start p span {
    font-size: 3vh;
    border-bottom: 4px solid darkturquoise;
    color:midnightblue;
}

#start-button {
    padding: 16px 16px 8px 16px;

    border-radius: 12px;
    font-size: 5vh;

    border: none;

    color: #000;
    background-color:cornflowerblue;
    border-bottom: 10px solid darkslateblue;
}

#result {
    height: 70vh;
    width: 70vw;
    margin: 0;
    padding: 0;

    position: fixed;
    left: 15vw;
    top: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: rgba(127, 255, 212, 0.95);
    /* border-radius: 12px; */
    display: none;
    /* border: 3px solid aqua; */
}

#kekka {
    color:mediumslateblue;
    font-size: 3vh;
}

#point-outer {
    font-size: 4vh;
    color:slateblue;
}

#all-point {
    font-size: 4vh;
    color:slateblue;
    border-bottom: 10px double slateblue;
}

table {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-collapse: collapse;
    border: none;
}

caption {
    border-bottom: 3px double royalblue;
    margin-bottom: 3px;
    color: teal;
}

tbody {
    border: 4px double dodgerblue;
}

th, td {
    border: 3px double deepskyblue;
    height: 24px;
    padding: 2px 10px 2px 10px;
}

#timer {
    height: 50vh;
    width: 50vh;
    margin: 0;
    padding: 0;
    z-index: -99;

    position: fixed;
    top: calc(50vh - 50vh / 2);
    left: calc(50vw - 50vh / 2);

    border-radius: 50%;

    background-color: rgba(0,0,0,0);
}